.tab {
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  -webkit-transition: 0.3s box-shadow ease;
  -moz-transition: 0.3s box-shadow ease;
  -o-transition: 0.3s box-shadow ease;
  transition: 0.3s box-shadow ease;
  box-shadow: 0 0 1px #c0c0c0, 0 0 2px #cdcdcd;
  display: flex;
  flex-wrap: wrap; }
  .tab > [type="radio"] {
    display: none; }
  .tab > .tab__content {
    height: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    opacity: 0;
    transform: translateY(-1px); }
  .tab:hover {
    box-shadow: -1px 3px 8px #c0c0c0, -1px 3px 10px #cdcdcd; }
  .tab > label {
    flex-grow: 1;
    display: none;
    text-align: center;
    padding: 1em 0.5em;
    cursor: pointer; }
    .tab > label:hover {
      background: #f6f6f6; }
  .tab > [type="radio"]:checked + label {
    background: #eeeeee;
    border-top: 2px solid #00eeee; }
  .tab > [type="radio"]:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
    height: auto;
    padding: 0.5em;
    opacity: 1;
    transform: translateY(0px);
    -webkit-transition: 0.5s opacity ease-in, 0.8s transform ease;
    -moz-transition: 0.5s opacity ease-in, 0.8s transform ease;
    -o-transition: 0.5s opacity ease-in, 0.8s transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease; }
  .tab > label:nth-of-type(1) {
    display: inline-block; }
  .tab > [type="radio"]:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
    height: auto;
    padding: 0.5em;
    opacity: 1;
    transform: translateY(0px);
    -webkit-transition: 0.5s opacity ease-in, 0.8s transform ease;
    -moz-transition: 0.5s opacity ease-in, 0.8s transform ease;
    -o-transition: 0.5s opacity ease-in, 0.8s transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease; }
  .tab > label:nth-of-type(2) {
    display: inline-block; }
  .tab > [type="radio"]:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
    height: auto;
    padding: 0.5em;
    opacity: 1;
    transform: translateY(0px);
    -webkit-transition: 0.5s opacity ease-in, 0.8s transform ease;
    -moz-transition: 0.5s opacity ease-in, 0.8s transform ease;
    -o-transition: 0.5s opacity ease-in, 0.8s transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease; }
  .tab > label:nth-of-type(3) {
    display: inline-block; }
  .tab > [type="radio"]:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
    height: auto;
    padding: 0.5em;
    opacity: 1;
    transform: translateY(0px);
    -webkit-transition: 0.5s opacity ease-in, 0.8s transform ease;
    -moz-transition: 0.5s opacity ease-in, 0.8s transform ease;
    -o-transition: 0.5s opacity ease-in, 0.8s transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease; }
  .tab > label:nth-of-type(4) {
    display: inline-block; }
  .tab > [type="radio"]:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
    height: auto;
    padding: 0.5em;
    opacity: 1;
    transform: translateY(0px);
    -webkit-transition: 0.5s opacity ease-in, 0.8s transform ease;
    -moz-transition: 0.5s opacity ease-in, 0.8s transform ease;
    -o-transition: 0.5s opacity ease-in, 0.8s transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease; }
  .tab > label:nth-of-type(5) {
    display: inline-block; }

/*# sourceMappingURL=tab.css.map */
