/* Shared for all accordion types */
.accordion {
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  background: #ffffff;
  padding: 0.25em; }
  .accordion [type=radio], .accordion [type=checkbox] {
    display: none; }
  .accordion__content {
    transition: all 0.5s;
    height: 0;
    border: 0; }
  .accordion > * {
    overflow: hidden;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0; }
    .accordion > * > label {
      display: block;
      cursor: pointer;
      background: #eeeeee;
      color: #666666;
      padding: 0.25em 0.5em;
      border-top: 1px solid #c0c0c0; }
      .accordion > * > label:hover {
        background: #09ffff; }
    .accordion > * > .accordion__content {
      overflow: auto;
      background: #ffffff;
      color: #666666;
      padding: 0.25em 0.5em;
      padding-top: 0;
      padding-bottom: 0; }
  .accordion > *:first-child {
    border-top: 1px solid #c0c0c0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    .accordion > *:first-child > label {
      border-top: 0; }
  .accordion > *:last-child {
    border-bottom: 1px solid #c0c0c0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
  .accordion > * > [type=radio]:checked ~ label, .accordion > * > [type=checkbox]:checked ~ label {
    background: #00eeee;
    color: #666666; }
  .accordion > * > [type=radio]:checked ~ label ~ .accordion__content, .accordion > * > [type=checkbox]:checked ~ label ~ .accordion__content {
    border-top: 1px solid #c0c0c0;
    padding: 0.25em 0.5em;
    height: 200px; }

.tab {
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  transition: 0.3s box-shadow ease;
  box-shadow: 0 0 1px #c0c0c0, 0 0 2px #cdcdcd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .tab > [type="radio"] {
    display: none; }
  .tab > .tab__content {
    height: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    opacity: 0;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px); }
  .tab:hover {
    box-shadow: -1px 3px 8px #c0c0c0, -1px 3px 10px #cdcdcd; }
  .tab > label {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: none;
    text-align: center;
    padding: 1em 0.5em;
    cursor: pointer; }
    .tab > label:hover {
      background: #f6f6f6; }
  .tab > [type="radio"]:checked + label {
    background: #eeeeee;
    border-top: 2px solid #00eeee; }
  .tab > [type="radio"]:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
    height: auto;
    padding: 0.5em;
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease; }
  .tab > label:nth-of-type(1) {
    display: inline-block; }
  .tab > [type="radio"]:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
    height: auto;
    padding: 0.5em;
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease; }
  .tab > label:nth-of-type(2) {
    display: inline-block; }
  .tab > [type="radio"]:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
    height: auto;
    padding: 0.5em;
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease; }
  .tab > label:nth-of-type(3) {
    display: inline-block; }
  .tab > [type="radio"]:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
    height: auto;
    padding: 0.5em;
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease; }
  .tab > label:nth-of-type(4) {
    display: inline-block; }
  .tab > [type="radio"]:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
    height: auto;
    padding: 0.5em;
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease; }
  .tab > label:nth-of-type(5) {
    display: inline-block; }

* {
  margin: 0;
  padding: 0; }

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.1; }

body {
  width: 100%;
  height: 100%;
  background: white; }

ul {
  list-style: none; }

p {
  margin-bottom: 0.5rem; }

h1 {
  margin-top: 0.125em;
  margin-bottom: 0.75em;
  font-size: 2.25rem; }

h2 {
  margin-top: 0.125em;
  margin-bottom: 0.5em;
  font-size: 1.75rem; }

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  width: 100%; }

.next-btn {
  position: absolute;
  bottom: 3px;
  right: 3px;
  border-radius: 50%; }

.text-align-center {
  text-align: center; }
.text-align-left {
  text-align: left; }
.text-align-right {
  text-align: right; }

.accordion__wrapper,
.tab__wrapper {
  width: 600px;
  margin: 1rem auto 1rem; }

/*# sourceMappingURL=style.css.map */